.container{
  background-color: cornflowerblue;
  height: 50vh;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.child{
  background-color: aliceblue;
  height: 50px;
  margin: 15px;
}